**/nvim/tt.*
**/nvim/.tests
**/nvim/doc/tags
**/nvim/debug
**/nvim/.repro
**/nvim/foo.*
**/nvim/*.log
**/nvim/data
**/nvim/lazy-locky.json
**/nvim/lazyvim.json
**/vifm/vifminfo.json
**/.DS_Store
ui/sway/config.d/config-extras
secrets.sh
secrets.fish
