**/.DS_Store
ui/sway/config.d/config-extras
**/node_modules/
__pycache__/
.env
desktop/linux/hypr/hypridle.conf
shared/scripts/golang/proji/proji
shared/scripts/golang/vimi/vimi
desktop/linux/hypr/*.png
shared/nvim/lua/plugins/dadbod.lua
shared/fish/fish_variables

shared/herdr/.plugins.lock
shared/herdr/session-history.json
shared/herdr/session.json
shared/herdr/herdr-client.log
shared/herdr/herdr-client.sock
shared/herdr/herdr-server.log
shared/herdr/herdr.sock
shared/herdr/release-notes.json
